DEBUG=1
GIN_MODE=debug
MGO_HOSTS=127.0.0.1
MGO_DB=karhu_dev

PUBLIC_HOST=http://127.0.0.1:8080

STORAGE_DRIVER=fs
STORAGE_PATH=./data

#BASIC_AUTH=guest:toto4242

COLLECTD_PROXY_BIND="0.0.0.0:25827"
COLLECTD_PROXY_TARGET="127.0.0.1:25826"

INFLUXDB_COLLECTD_HOST=127.0.0.1
INFLUXDB_COLLECTD_PORT=25826

LOGSTASH_TLS_CRT=./logstash/certs/logstash.crt
LOGSTASH_TAGS_FILTERS=./logstash/conf.d/10-tags-filters.conf
LOGSTASH_APPS_FILTERS=./logstash/conf.d/11-apps-filters.conf
LOGSTASH_IP=127.0.0.1

ES_HOST=http://127.0.0.1:9200
