{{template "header" "alerts"}}
  <div class="breadcrumb">
        <a href="/alerts">All alerts</a> &gt; All alerts policies
  </div>
</header>
<main>
  <div class="box text-right">
    <a class="btn" href="/alerts">Alerts</a>
    <a class="btn" href="/alerts-policies/add">New Policy</a>
  </div>
  <div class="box-col">
    {{ range .policies }}
    <div class="box">
      <h2 class="box-title"><span class="select">{{ .Name }}</span>
          <a class="right btn btn-small" href="/alerts-policies/edit/{{ .Id.Hex }}">Edit</a>
      </h2>
      <p class="box-text">{{ .Description }}</p>
      <ul class=box-list>
          <li><span class="box-list-label">Check:</span>{{ .NagiosPlugin }} {{ .NagiosParams }}</li>
          <li><span class="box-list-label">Target:</span>{{ .TargetType }}</li>
          <li><span class="box-list-label">Interval:</span>{{ .Interval.String }}</li>
      </ul>
    </div>
    {{ end }}
  </div>
</main>
{{template "footer"}}
