{{template "header"}}
  <div class="breadcrumb">
    All applications
  </div>
</header>
<main>
  <div class="box">
    <a class="btn" href="/application/add">New Application</a>
  </div>
  <div class="box-col">
    {{ range .applications }}
    <div class="box">
      <h2 class="box-title">{{ .Name }}<a class="right" href="/application/show/{{ .Name }}">Show</a></h2>
      <p class="box-text">{{ .Description }}</p>
      <p class="box-text">Tags : {{range $tag := .Tags}}<span class="label">{{$tag}}</span> {{else}} No tag {{end}}</p>
      <ul class="box-list">
        <li>Last deployment #c0cb8a1d <span class="right"><a href="">Show</a> - <a href="">Replay</a></span></li>
        <li><a href="">Show more deployment</a></li>
      </ul>
    </div>
    {{ end }}
  </div>
</main>
{{template "footer"}}
