{{template "header"}}
  <div class="breadcrumb">
    <a href="/">All applications</a> &gt; {{ .application.Name }}
  </div>
</header>
<main>
  <div class="box">
    <a class="btn" href="/application/edit/{{ .application.Id.Hex }}">Edit</a>
    <a class="btn btn-danger" data-text="Do you want to remove this application ?" href="/application/delete/{{ .application.Id.Hex }}">Delete</a>
  </div>
  <div class="box">
    <h2 class="box-title">{{ .application.Name }}<a class="right" href="/application/edit/{{ .application.Id.Hex }}">Edit</a></h2>
    <p class="box-text">{{ .application.Description }}</p>
    <p class="box-text">Tags : {{range $tag := .application.Tags}}<span class="label">{{$tag}}</span> {{else}} No tag {{end}}</p>
    <p class="box-text">Deps : {{range $dep := .application.Deps}}<a href="/application/show/{{$dep.Name}}"><span class="label">{{$dep.Name}}</span></a> {{else}} No dep {{end}}</p>
  </div>
  <div class="box-col">
    <div class="box">
      <h2 class="box-title">Deployments</h2>
      <ul class="box-list">
        {{ range $deployment := .deployments }}
          <li>
              <span class="state state-{{$deployment.Status}}"></span>
              Deploy <a href="/application/deployment/{{$.application.Name}}/{{$deployment.Id.Hex}}">#{{$deployment.Id.Hex}}</a>
              - {{ $deployment.UpdatedAt.String }}
              <span class="right">
                  <form action="/application/deployment/{{ $.application.Name }}/{{$deployment.BuildId.Hex}}" method="POST">
                      <button class="btn btn-small btn-danger" data-text="Are you sure ?" type="submit">Redeploy</button>
                  </form>
              </span></li>
        {{ end }}
      </ul>
    </div>
    <div class="box">
      <h2 class="box-title">Builds</h2>
      <ul class="box-list">
          {{ range $build := .builds }}
            <li>Build #{{$build.Id.Hex}} - {{ $build.CreatedAt.String }}
                <span class="right">
                    <form action="/application/deployment/{{ $.application.Name }}/{{$build.Id.Hex}}" method="POST">
                        <button class="btn btn-small btn-danger" data-text="Are you sure ?" type="submit">Deploy</button>
                    </form>
                </span></li>
          {{ end }}
      </ul>
    </div>
    <div class="box">
      <h2 class="box-title">Configs<a class="right btn" href="/application/configuration/{{ .application.Name }}">Add configuration</a></h2>
      <ul class="box-list">
          {{ range $config := .configs }}
            <li>
                {{ if $config.Enabled }}
                    <span class="state state-done"></span>
                {{ else }}
                    <span class="state state-running"></span>
                {{ end }}
                Config <span class="select">{{$config.Path}}</span>
                {{ if len $config.Notify.Service }}
                    - <span class="label">{{ $config.Notify.Service }} {{ $config.Notify.State }}</span>
                {{ end }}
                <span class="right">
                    <a href="/application/configuration/{{ $.application.Name }}/{{ $config.Id.Hex }}">Edit</a>
                </span>
            </li>
          {{ end }}
      </ul>
    </div>
    <div class="box">
      <h2 class="box-title">Logs files - <a href='/logs?query=*&app={{ .application.Name }}'>Show all</a><a class="right btn" href="/application/logfile/{{ .application.Name }}">Add log file</a></h2>
      <ul class="box-list">
          {{ range $logfile := .logfiles }}
            <li>
                {{ if $logfile.Enabled }}
                    <span class="state state-done"></span>
                {{ else }}
                    <span class="state state-running"></span>
                {{ end }}
                <span class="select">{{$logfile.Path}}</span> - <a href='/logs?query=source%3A+"{{ $logfile.Path }}"&app={{ $.application.Name}}'>show</a>
                <span class="right">
                    <a href="/application/logfile/{{ $.application.Name }}/{{ $logfile.Id.Hex }}">Edit</a>
                </span>
            </li>
          {{ end }}
      </ul>
    </div>
  </div>
</main>
{{template "footer"}}
