{{template "header" "applications"}}
  <div class="breadcrumb">
    All applications
  </div>
</header>
<main>
  <div class="box text-right">
    <a class="btn" href="/application/add">New Application</a>
    <!-- <a class="btn" href="/application/add?type=service">New Service</a> -->
  </div>
  <div class="box text-right">
      Filters : <a class="filter-item{{ if eq (len $.selectedTags) 0 }} is-selected{{ end }}" href="/">all</a> -
      {{ range $tag := .tags }}
        <a class="filter-item{{ if $.selectedTags.HasTag $tag }} is-selected{{ end }}" href="/{{ $.selectedTags.Query $tag }}">{{ $tag }}</a>
      {{ end }}
  </div>
  <div class="box-col">
    {{ range .applications }}
    <div class="box">
      <h2 class="box-title"><span class="select">{{ .Name }}</span><a class="right btn btn-small" href="/application/show/{{ .Name }}">Show</a></h2>
      <p class="box-text">{{ .Description }}</p>
      <ul class="box-list">
      {{ if len .Tags }}<li><span class="box-list-label">Tags :</span> {{range $tag := .Tags}}<span class="label">{{$tag}}</span> {{else}} No tag {{end}}</li>{{ end }}
      {{ if len .Deps }}<li><span class="box-list-label">Dependencies :</span> {{range $dep := .Deps}}<a href="/application/show/{{$dep.Name}}"><span class="label">{{$dep.Name}}</span></a> {{else}} No dep {{end}}</li>{{ end }}
      </ul>
      <ul class="box-list">
        {{ if .Deployment }}
        <li>
            <form class="right" action="/application/deployment/{{ .Name }}/{{.Deployment.BuildId.Hex}}" method="POST">
                <button class="btn btn-small btn-danger" data-text="Are you sure ?" type="submit">Redeploy</button>
            </form>
            <span class="state state-{{.Deployment.Status}}"></span>
            Deploy <a href="/application/deployment/{{.Name}}/{{.Deployment.Id.Hex}}">#{{.Deployment.Id.Hex}}</a>
            - <span class="text-gray">{{ .Deployment.UpdatedAt.Format "2006-01-02 15:04:05" }}</span>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</main>
{{template "footer"}}
