{{template "header"}}
  <div class="breadcrumb">
    <a href="/">All applications</a> &gt; {{ .application.Name }}
  </div>
</header>
<main>
  <div class="box">
    <a class="btn" href="/application/edit/{{ .application.Id.Hex }}">Edit</a>
    <a class="btn btn-danger" data-text="Do you want to remove this application ?" href="/application/delete/{{ .application.Id.Hex }}">Delete</a>
  </div>
  <div class="box">
    <h2 class="box-title">{{ .application.Name }}<a class="right" href="/application/edit/{{ .application.Id.Hex }}">Edit</a></h2>
    <p class="box-text">{{ .application.Description }}</p>
    <p class="box-text">{{ .application.Tags }}</p>
    <p class="box-text">{{ .application.Vars }}</p>
  </div>
  <div class="box-col">
    <div class="box">
      <h2 class="box-title">Deployments</h2>
      <ul class="box-list">
        {{ range $deployment := .deployments }}
          <li>Deploy #{{$deployment.Id.Hex}} <span class="right"><a href="/api/apps/{{$.application.Id.Hex}}/builds/{{$deployment.BuildId.Hex}}/deploy">Redeploy build #{{$deployment.BuildId.Hex}}</a></span></li>
        {{ end }}
      </ul>
    </div>
    <div class="box">
      <h2 class="box-title">Builds</h2>
      <ul class="box-list">
          {{ range $build := .builds }}
            <li>Build #{{$build.Id.Hex}}  <span class="right"><form action="/api/apps/{{$.application.Id.Hex}}/builds/{{$build.Id.Hex}}/deploy" method="POST"><button type="submit">Deploy</button></span></li>
          {{ end }}
      </ul>
    </div>
  </div>
</main>
{{template "footer"}}
