{{template "header" "applications"}}
<div class="breadcrumb">
    <a href="/">All applications</a> &gt; Add an application
</div>
</header>
<main>
    {{ template "application_add_menu" }}
    <form method="POST" action="">
        <div class="box">
            <h2 class="box-title">Add an application</h2>
            {{ if .errors }}
            <div class="alert alert-danger">
                {{ range .errors }}
                {{ .Field }} : {{ .Text }}<br/>
                {{ end }}
            </div>
            {{ end }}
            <div class="form-group">
                <label for="app-name">Name :</label>
                <input class="form-control" id="app-name" name="name" type="text" placeholder="Name..." {{ if .form }} value="{{.form.Name}}" {{ end }} />
            </div>
            <div class="form-group">
                <label for="app-description">Description :</label>
                <textarea class="form-control" id="app-description" name="description" placeholder="Description...">{{ if .form }}{{.form.Description}}{{ end }}</textarea>
            </div>
            <div class="form-group">
                <label for="app-tags">Tags :</label>
                <div class="form-control form-tag">
                    <div class="form-tag-list">
                        {{range $tag := .form.Tags}}<span class="form-tag-item"><input type="text" name="tags[]" readonly="" value="{{$tag}}" /><button>x</button></span>{{end}}<input class="form-control form-tag-add" data-name="tags" type="text" placeholder="Add a tag..." />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="app-deps">Dependencies :</label>
                <div class="form-control form-tag">
                    <div class="form-control form-tag">
                        <div class="form-tag-list">
                            {{range $dep := .form.Deps}}<span class="form-tag-item"><input type="text" name="deps[]" readonly="" value="{{$dep}}" /><button>x</button></span>{{end}}<input class="form-control form-tag-add" data-name="deps" type="text" placeholder="Add a dependence..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <h2 class="box-title">Container</h2>
            <div class="form-group">
                <label for="image">Image :</label>
                <input class="form-control" id="image" name="image" type="text" placeholder="ubuntu:latest..." {{ if .form }} value="{{.form.Image}}" {{ end }} />
            </div>
            <div class="form-group">
                <label for="pull">Always Pull :</label>
                <input class="form-control" id="pull" name="pull" type="checkbox" {{ if .form }}{{ if eq .form.Pull "on" }}checked="checked"{{ end }}{{ end }} />
            </div>
            <div class="form-group">
                <label for="ports">Ports :</label>
                <div class="form-control form-var">
                    <div class="form-var-template is-hidden">
                        <input data-name="ports-host[]" type="text" placeholder="Public (on Host)"/>
                        <input data-name="ports-container[]" type="text" placeholder="Private (in Container)" />
                        <select data-name="ports-proto[]">
                            <option value="tcp">tcp</option>
                            <option value="udp">udp</option>
                        </select>
                        <button type="button" class="btn form-var-remove">X</button>
                    </div>
                    <button type="button" class="btn form-var-add">ADD</button>
                </div>
            </div>
            <div class="form-group">
                <label for="volumes">Volumes :</label>
                <div class="form-control form-var">
                    <div class="form-var-template is-hidden">
                        <input data-name="volumes-host[]" type="text" placeholder="On Host"/>
                        <input data-name="volumes-container[]" type="text" placeholder="In Container" />
                        <button type="button" class="btn form-var-remove">X</button>
                    </div>
                    <button type="button" class="btn form-var-add">ADD</button>
                </div>
            </div>
            <div class="form-group">
                <label for="links">Links :</label>
                <div class="form-control form-var">
                    <div class="form-var-template is-hidden">
                        <input data-name="links-container[]" type="text" placeholder="Container"/>
                        <input data-name="links-alias[]" type="text" placeholder="Alias" />
                        <button type="button" class="btn form-var-remove">X</button>
                    </div>
                    <button type="button" class="btn form-var-add">ADD</button>
                </div>
            </div>
            <div class="form-group">
                <label for="env">Env :</label>
                <div id="env" class="form-control form-var">
                    <div class="form-var-template is-hidden">
                        <input data-name="env-key[]" type="text" placeholder="KEY"/>
                        <input data-name="env-value[]" type="text" placeholder="value" />
                        <button type="button" class="btn form-var-remove">X</button>
                    </div>
                    <button type="button" class="btn form-var-add">ADD</button>
                </div>
            </div>
            <div class="form-group">
                <label for="restart">Auto Restart :</label>
                <select id="restart" name="restart">
                    <option value="no">no</option>
                    <option value="on-failure">on-failure</option>
                    <option value="always">always</option>
                    <option value="unless-stopped">unless-stopped</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn" type="submit">Add Docker</button>
            </div>
        </div>
    </form>
</main>
{{template "footer"}}
