{{define "header"}}
<!doctype html>
<html>
<head>
  <title>Karhu</title>
  <meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <link rel="stylesheet" href="/static/css/app.min.css" />
  <script type="text/javascript" src="/static/js/app.js"></script>
  <script type="text/javascript" src="/static/js/tags.js"></script>
  <script type="text/javascript" src="/static/js/fold.js"></script>
  <script type="text/javascript" src="/static/js/confirm.js"></script>
  <script type="text/javascript" src="/static/js/stream.js"></script>
</head>
<body>
  <header>
    <div class="header">
      <h1 class="header-title"><a href="/">Karhu</a></h1>
      <a class="navbar-btn" href=""></a>
      <ul class="navbar">
        <li><a class="navbar-item {{ if eq . "applications" }} is-selected{{ end }}" href="/">Applications</a></li>
        <li><a class="navbar-item {{ if eq . "infrastructure" }} is-selected{{ end }}" href="/nodes">Infrastructure</a></li>
        <li><a class="navbar-item {{ if eq . "monitoring" }} is-selected{{ end }}" href="/monitoring">Monitoring</a></li>
        <li><a class="navbar-item {{ if eq . "logs" }} is-selected{{ end }}" href="/logs">Logs</a></li>
        <li><a class="navbar-item {{ if eq . "alerts" }} is-selected{{ end }}" href="">Alerts</a></li>
      </ul>
    </div>
{{end}}

{{define "footer"}}
</body>
</html>
{{end}}
