{{define "header"}}
<!doctype html>
<html>
<head>
  <title>Karhu</title>
  <meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700" />
  <link rel="stylesheet" href="/static/css/app.min.css" />
  <script type="text/javascript" src="/static/js/app.js"></script>
  <script type="text/javascript" src="/static/js/vars.js"></script>
</head>
<body>
  <header>
    <div class="header">
      <h1 class="header-title">Karhu</h1>
      <a class="navbar-btn" href=""></a>
      <ul class="navbar">
        <li><a class="navbar-item" href="/">Applications</a></li>
        <li><a class="navbar-item" href="/nodes">Infrastructure</a></li>
        <li><a class="navbar-item" href="">Monitoring</a></li>
        <li><a class="navbar-item" href="">Logs</a></li>
        <li><a class="navbar-item" href="">Alerts</a></li>
      </ul>
    </div>
{{end}}

{{define "footer"}}
</body>
</html>
{{end}}
