<!doctype html>
<html>
<head>
    <title>Karhu</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link rel="stylesheet" href="/static/css/app.min.css" />
    <script type="text/javascript" src="/static/js/app.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <h1 class="header-title">Karhu</h1>
            <a class="navbar-btn" href=""></a>
            <ul class="navbar">
                <li><a class="navbar-item" href="">Applications</a></li>
                <li><a class="navbar-item" href="">Infrastructure</a></li>
                <li><a class="navbar-item" href="">Monitoring</a></li>
                <li><a class="navbar-item" href="">Logs</a></li>
                <li><a class="navbar-item" href="">Alerts</a></li>
            </ul>
        </div>
        <div class="breadcrumb">
            All applications > Cool
        </div>
    </header>
    <main>
        <div class="box">
            <h2 class="box-title">CoreAPI <a class="right" href="">Edit</a></h2>
            <p class="box-text">Le core API qui tue sa maman</p>
            <ul class="box-list">
                <li>CoreAPI - Alpha <span class="right">c0cb8a1d - <a href="">Edit</a></span></li>
                <li>CoreAPI - Beta <span class="right">c0cb8a1d - <a href="">Edit</a></span></li>
                <li>CoreAPI - Prod <span class="right">c0cb8a1d - <a href="">Edit</a></span></li>
            </ul>
        </div>
        <div class="box">
            <h2 class="box-title">CoreAPI <a class="right" href="">Edit</a></h2>
            <p class="box-text">Le core API qui tue sa maman</p>
            <ul class="box-list">
                <li>CoreAPI - Alpha <span class="right">c0cb8a1d - <a href="">Edit</a></span></li>
                <li>CoreAPI - Beta <span class="right">c0cb8a1d - <a href="">Edit</a></span></li>
                <li>CoreAPI - Prod <span class="right">c0cb8a1d - <a href="">Edit</a></span></li>
            </ul>
        </div>
        <div class="box">
            <h2 class="box-title">CoreAPI <a class="right" href="">Edit</a></h2>
            <p class="box-text">Le core API qui tue sa maman</p>
            <ul class="box-list">
                <li>CoreAPI - Alpha <span class="right">c0cb8a1d - <a href="">Edit</a></span></li>
                <li>CoreAPI - Beta <span class="right">c0cb8a1d - <a href="">Edit</a></span></li>
                <li>CoreAPI - Prod <span class="right">c0cb8a1d - <a href="">Edit</a></span></li>
            </ul>
        </div>
    </main>
</body>
</html>
