{{template "header"}}
  <div class="breadcrumb">
    <a href="/nodes">All nodes</a> &gt; Edit a node
  </div>
</header>
<main>
  <div class="box">
    <h2 class="box-title">Edit a node
        <form style="display:inline-block;" class="right" method="POST" action="/node/delete/{{ .node.Id.Hex }}">
            <button type="submit" class="btn btn-danger btn-small" data-text="Delete node {{ .node.Hostname }} ({{ .node.IP }})?">Delete</button>
        </form>
    </h2>
    {{ if .errors }}
    <div class="alert alert-danger">
      {{ range .errors }}
      {{ .Field }} : {{ .Text }}<br/>
      {{ end }}
    </div>
    {{ end }}
    <form method="POST" action="">
      <div class="form-group">
        <label for="node-description">Description :</label>
        <textarea class="form-control" id="node-description" name="description" placeholder="Description...">{{ .node.Description }}</textarea>
      </div>
      <div class="form-group">
        <label>Tags :</label>
        <div class="form-control form-tag">
          <div class="form-tag-list">
              {{range $tag := .node.Tags}}<span class="form-tag-item"><input type="text" name="tags[]" readonly="" value="{{$tag}}" /><button>x</button></span>{{end}}<input class="form-control form-tag-add" data-name="tags" type="text" placeholder="Add a tag..." />
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn" type="submit">Edit</button>
      </div>
    </form>
  </div>
</main>
{{template "footer"}}
