{{template "header"}}
  <div class="breadcrumb">
    <a href="/nodes">All nodes</a> &gt; Generate script to register a node
  </div>
</header>
<main>
  <div class="box">
    <h2 class="box-title">Generate script to register a node</h2>
    <div class="alert alert-info">
        <h3 class="alert-title">Lorem ipsum</h3>
        <p>Coucou</p>
    </div>
    <form id="add_node" method="" action="">
      <div class="form-group">
        <label for="karhu_url">Karhu URL :</label>
        <input class="form-control" type="text" id="karhu_url" name="karhu_url" placeholder="http://your-karhu.com" value="{{ .PublicHost }}"/>
      </div>
      <div class="form-group">
        <label for="ssh_port">SSH port :</label>
        <input class="form-control" type="text" id="ssh_port" name="ssh_port" placeholder="22" value="{{ .SshPort }}"/>
      </div>
      <!-- <div class="form-group">
        <label for="ssh_user">SSH user (root or sudo) :</label>
        <input class="form-control" type="text" id="ssh_user" name="ssh_user" placeholder="root" value="{{ .SshUser }}"/>
      </div> -->
      <div class="form-group">
        <label for="monit">Enable monitoring :</label>
        <input class="form-control" type="checkbox" id="monit" name="monit" {{ if eq .Monit "1" }}checked="checked"{{ end }}/>
      </div>
      <input type="hidden" id="basic_auth" name="basic_auth" value="{{ .BasicAuth }}" />
      <h3 class="box-subtitle">Execute this on your server:</h3>
      <pre id="register_cmd">curl {{ .BasicAuth }}"{{ .PublicHost }}/api/nodes/register.sh?monit={{ .Monit }}&ssh_port={{ .SshPort }}" | bash</pre>
      <div class="text-center">
        <a href="/nodes" class="btn">OK</a>
      </div>
    </form>
  </div>
</main>
<script>
var inputs = document.getElementById("add_node").getElementsByTagName("input");
for (i = 0; i < inputs.length; i++) {
    inputs[i].oninput = function() {
        karhuUrl = document.getElementById("karhu_url").value;
        // sshUser = document.getElementById("ssh_user").value;
        monit = document.getElementById("monit").checked ? "1" : "0";
        sshPort = document.getElementById("ssh_port").value || "22";
        basicAuth = document.getElementById("basic_auth").value;

        document.getElementById("register_cmd").innerHTML = "curl "+basicAuth+"\"" + karhuUrl + "/api/nodes/register.sh?monit="+monit+"&ssh_port="+sshPort + "\" | bash";
    };
    inputs[i].onchange = inputs[i].oninput;
}
</script>
{{template "footer"}}
