{{template "header"}}
  <div class="breadcrumb">
    All nodes
  </div>
</header>
<main>
    <div class="box">
      <a class="btn" href="/node/add">Add Node</a>
    </div>
  <div class="box-col">
    {{ range .nodes }}
    <div class="box">
      <h2 class="box-title"><span class="select">{{ .Hostname }}</span><span class="box-subtitle">- <span class="select">{{ .IP }}</span></span><a class="right" href="/node/edit/{{ .Id.Hex }}">Edit</a></h2>
      <p class="box-text">{{ .Description }}</p>
      <p class="box-text">Tags : {{range $tag := .Tags}}<span class="label">{{$tag}}</span> {{else}} No tag {{end}}</p>
    </div>
    {{ end }}
  </div>
</main>
{{template "footer"}}
