.alert {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 3px;

    &-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    &-danger {
        background: $red;
    }

    &-info {
        background: #5f6f7e;
    }
}
