.box {
    padding: 10px;
    color: $light-gray;
    background: rgba(255,255,255,0.05);
    margin: 10px;
    &-title {
        color: #fff;
        font-size: 18px;
        border-bottom: 3px solid $blue;
        padding: 5px;
        margin-bottom: 10px;

        & .btn {
            margin-left: 5px;
        }
    }

    &-text {
        padding: 5px;
        margin-bottom: 10px;
    }

    &-list > li {
        border-bottom: 1px solid #333;
        padding: 10px;

        &:hover {
            background: rgba(#000, .3);
            border-bottom: 1px solid #444;
        }
    }

    &-list-label {
        font-weight: bold;
        color: #888;
        display: inline-block;
        width: 100px;
    }

    &-subtitle {
        color: $light-gray;
        font-size: 12px;
    }
}

@media screen and (min-width: $large) {
    .box-col {
        display: flex;
        flex-wrap: wrap;
        padding: 0 5px;
        .box {
            flex: 0 0 calc(50% - 10px);
            margin: 0 5px 10px 5px;
        }
    }
}
