/* Breadcrumb */

.breadcrumb {
    background-color: $gray;
    height: $breadcrumb-height;
    line-height:$breadcrumb-height;
    font-size: 12px;
    padding-left: 10px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
        color: #b8d3ed;
    }
}
