/* Btn */
.btn {
    display: inline-block;
    padding: 8px 12px;
    background: $blue;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    border-radius: 3px;

    &.btn-small {
        padding: 4px 6px;
        font-size: 9px;
        line-height: 1em;
    }

    &:hover {
        background-color: $dark-blue;
        color: #fff;
    }
    &-danger {
        background: $red;
        &:hover {
            background: rgba($red, 0.8);
        }
    }

    &:hover {
        cursor:pointer;
    }
}


@mixin form-buttons {
  button {
    display: inline-block;
    background-color: $light-gray;
    color: $dark-gray;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
  }
}

.btn-picture {
    display:inline-block;
    background: $blue;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;

    img {
        width: 80px;
    }

    &:hover {
        background-color: $dark-blue;
    }

    &.is-selected {
        border: 2px solid #a0c745;
        padding: 3px;
    }
}

@media screen and (min-width: $large) {
    .btn-picture img {
        width: auto;
    }
}
