/* Form */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
        line-height: 30px;
    }

    .form-control {
      @include form-buttons;
      flex-grow: 1;
    }

    .add-var-button {

    }
    @media screen and (min-width: $medium) {
        flex-direction:row;

        label {
            width: 140px;
        }
    }
}
