.navbar {
    position: relative;

    &-btn {
        background: rgba(255,255,255,0.1);
        float: right;
        display: block;
        margin: 2px;
        height: $header-height - 4px;
        width: $header-height - 4px;
        line-height: $header-height - 4px;
        text-align:center;
    }

    & > li {
        & > a {
            display:block;
            background: $light-gray;
            border-bottom: 1px solid #dbdbdb;
            border-left: 1px solid #dbdbdb;
            border-right: 1px solid #dbdbdb;
            padding: 15px 10px;

            transition: all 0.2s;

            &:hover {
                border-left: 10px solid $blue;
            }
            &.is-selected {
                border-left: 10px solid $light-blue;
            }
        }
    }
}

@media screen and (min-width: $large) {
    .navbar {
        margin-left: 10px;
        display: block;
        float: right;
        line-height: 60px;
        height: 60px;
        &-btn {
            display: none;
        }

        & > li {
            display: inline-block;
            & > a {
                padding: 0 20px;
                border: 0;
                background: $blue;
                color: #fff;
                &:hover {
                    border: 0;
                    background: $light-blue;
                }
                &.is-selected {
                    border-left: 0;
                    border-bottom: 10px solid $light-blue;
                    line-height: 50px;
                }
            }
        }
    }
}
