body {
    font-family: 'Roboto', sans-serif;
    background-color: $dark-gray;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: $blue;

    &:hover {
        color: $dark-blue;
    }
}

ul {
    list-style: none;
}

input[type=text], textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border: 0;
    background-color: $gray;
    color: $light-gray;
    padding: 8px;
    border-radius: 3px;
}

pre {
    padding: 20px;
    background: $gray;
    margin: 10px 0;
    color: #fff;
    white-space: pre-wrap;
}


/* Basics */
.text-center {
    text-align:center;
}
.text-right {
    text-align: right;
}

.text-gray {
    color: $gray;
}

.right {
    float: right;
}

.select {
    display: inline-block;
}
