/* Variables */

// Medias
$medium: 500px;
$large: 850px;

// Colors
$light-gray: #cdd0d2;
$gray: #444;
$dark-gray: #121212;
$light-blue: #577c9f;
$blue: #305a83;
$dark-blue: #183b5f;
$red: #833030;
$orange: #d8c2a5;

// Sizes
$header-height: 60px;
$breadcrumb-height: 40px;
